<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="dev.backbutton.NativeEditorActivity"
            android:exported="true"
            android:label="Dictation test fields"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
